@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Albert Sans', Arial, Helvetica, sans-serif;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Hide Google Translate default banner and widget UI */
.goog-te-banner-frame.skiptranslate,
.goog-te-gadget,
#google_translate_element {
  display: none !important;
}

/* Remove top margin Google adds to <body> */
body {
  top: 0 !important;
}

/* Prevent shifting on translate */
.skiptranslate {
  display: none !important;
}
